@page "/"
@using SStore.Model.Data.Dtos;
@using SStore.Model.Data.Entities;
@using SStore.Services
@inject ICounterServicecs counter
@inject IAppUserService appuserService
@inherits LayoutComponentBase

@using SStore.Pages

    @{
        if (!string.IsNullOrEmpty(errorMessage))
        {
           <div class="alert alert-danger">@errorMessage</div>
        }
        }
    
<MudPaper >
    <MudContainer MaxWidth="MaxWidth.Large">
        
           <MudCard>
               <MudCardHeader>
                  
               </MudCardHeader>
           </MudCard>
       
    </MudContainer>
</MudPaper>
@code{
    bool showTitle = true;

    List<AppUserDto>? appUsers;
    string? errorMessage = null;

    protected override void OnInitialized()
    {
        appUsers = appuserService.GetAppUsers();

        var appuser = new AppUser
            {
                Email = "sa@mail.com".Trim().ToLower(),
                FirstName = "said",
                LastName = "ALsalti",
                UserName = "sa@mail.com".Trim().ToLower(),
                IsActive = true,
                PhoneNumber = "9999"
            };
        if (appuserService.IsReadyUserNameAdded(appuser.UserName))
        {
            errorMessage = "اسم المستخدم مسجل بالنظام";
            return;
        }
        if (appuserService.IsReadyEmailAdded(appuser.Email))
        {
            errorMessage = "البريد الإلكتروني مسجل بالنظام";
            return;
        }
       // appuserService.InsertUser(appuser);
    }

    private void togleTitle()
    {
        showTitle = !showTitle;
    }
}
